<div id = "content1">
  <img src="https://ritzcarlton-h.assetsadobe.com/is/image/content/dam/the-ritz-carlton/hotels/usa-and-canada/california/half-moon-bay/guest-rooms/supporting-assets/RCHALFM_00401.png?$XlargeViewport100pct$" alt="">
  </div>
<p>
The doors to the glorious Paradise Pretoria Hotel, designed by Clifford Mzobe, opened in October 1999 just as the final lilac blossoms gradually fell from the Jacaranda Trees. </p>
<p>
Paradise Pretoria Hotel is not only renowned for being the only hotel hosting Royalty such as Queen Elizabeth II, who stayed with us in 1999, but also for being the preferred choice when hosting Heads of State as well as international stars.Paradise Pretoria Hotel was the first 5-star international hotel in the Capital City of South Africa.
</p>
